PORT=4000
MONGODB_URL=
ACCESS_TOKEN_SECRET=Lg2HIQc6EwuOSoqERR2OK6mklRGqWGqT4YzEPZHlMPvrQPHFe2B8IEOYWtju1HUr
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=jBctARCwOBMXjD81aTai7arIkKu4XMubDud6dMXDFcTQz4c2o56upKSg821XTXvT
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=